#Virtual Environment
dataenv/

#Byte-complied / optimized/ DLL files
__pycache__/

#Jupyter notebook checkpoints
.ipynb_checkpoints/

#Pytest cache
.pytest_cache/

#notes
Portfolio_Test.ipynb
porjectnotes.py
